<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="search.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <h1>"<%= searchQuery %>" search results</h1>
    <div class="links" id="gohome">
      <a href="/">Main</a>
    </div>
    <div class="spacer">
      <h2>Meme results</h2>
      <h2>Gif results</h2>
    </div>
    <div class="searchResults">
      <div class="meme">
        <% meme.forEach((value) => { %>
          <img src="<%= value.imageUrl %>"><br>
        <%})%>
      </div>
      <div class="gif">
        <% gif.forEach((value) => { %>
          <img src="<%= value.images.original.url %>"><br>
        <%})%>
      </div>
    </div>
  </body>
</html>
