<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Procrastinator</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  </head>
  <body>
    <div class="main">
      <h1>Welcome To The Procrastinator</h1>
      <h2>The Worlds Best App for Generating Memes and Gifs!</h2>
      <nav>
        <div class="signup">
          <div class="require">*Inputs Required</div>
          <div id="close">
            <i class="fa fa-times x" aria-hidden="true"></i>
          </div>
          <h3>Sign up</h3>
          <form class="sign" action="/users" method="post">
            <input class="xp" type="text" name="user[username]" value="" placeholder="Username*" required><br>
            <input class="xp" type="password" name="user[password]" value="" placeholder="Password*" required><br>
            <input class="xp" type="text" placeholder="Email"><br>
            <input class="xp" type="text" placeholder="Phone"><br>
            <input class="xp" type="text" placeholder="Address"><br>
            <input id="xp" type="submit" value="Sign up">
          </form>
        </div>
        <div class="guestLogin">
        <div class="dropout"><i class="fa fa-bars" aria-hidden="true"></i></div>
          <div class="xyz">
            <h5>Test out the App with limited search capabilities by continuing as a guest!</h5>
            <h5>Get all the benifits of the search engine except saving images to your personal library and downloading your favorites.</h5>
            <a href="/guestProfile"><div id="guest">Continue As Guest</div></a>
          </div>
        </div>
      <div class="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <div id="or">
          <h4>or</h4>
        </div>
        <button class="guest">Sign Up</button>
        <div class="left">
          <form class="login" action="/auth" method="post">
            <p>Login Into Your Account</p>
            <input class="xc" type="text" name="user[username]" value="" placeholder="Username" required><br>
            <input class="xc" type="password" name="user[password]" value="" placeholder="Password" required><br>
            <input id="login" type="submit" name="name" value="Log in">
          </form>
        </div>
        <div class="right">
          <a href="https://www.facebook.com/login"><img id="facebook" src="facebook.png"></a>
          <a href="https://twitter.com/twitter"><img id="twitter" src="twitter.png"></a>
          <a href="https://plus.google.com"><img id="google" src="google.png"></a>
        </div>
      </nav>
    </div>
  </body>
</html>
