* {
  margin: 0;
  padding: 0;
}
h1 {
  position: absolute;
  font-size: 8vh;
  top: 1vh;
  left: 1vw;
}
#link {
  position: absolute;
  top: 3vh;
  left: 90vw;
  text-decoration: none!important;
  color: black;
  background: #989898; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a2a4a5, #989898); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a2a4a5, #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a2a4a5, #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a2a4a5, #989898); /* Standard syntax */
  font-size: 2vw;
  padding: .3vh .6vw .3vh .6vw;
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
}
#link:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
body {
  background: url("tile.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Abhaya Libre', serif;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#favorites-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  overflow-y: auto;
  height: 80vh;
  background-color: rgba(220,220,220, .5);
  box-shadow: 1px 1px 1px #545454;
}
h2 {
  text-align: center;
  font-size: 6vh;
}
img {
  max-width: 27vw;
  max-height: 40vh;
}
.textOutput {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  width: 27vw;
  height: 40vh;
  border-bottom: 1px solid black;
}
