* {
  margin: 0;
  padding: 0;
}
body {
  background: url("tile.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Proza Libre', sans-serif;
}
h1 {
  font-size: 5vh;
  padding: 1vw;
  margin-right: 1vw;
  text-shadow: 1px 1px 2px #545454;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.searchResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.meme, .gif {
  margin: auto;
  width: 45vw;
  height: 70vh;
overflow-y: auto;
text-align: center;
background-color: rgba(220,220,220, .5);
box-shadow: 1px 1px 1px #545454;
}
img {
  padding: 20px 0 0 0;
  max-width: 40vw;
  height: auto;
  margin: auto;
}
.spacer {
  height: 10vh;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h2 {
  padding: 2vh;
  font-size: 1.75vw;
  text-shadow: 1px 1px 1px #545454;
}
.buttonz {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 94vh;
  left: 41vw;
}
.spread {
  margin: 1vw;
}
a {
  text-decoration: none!important;
  color: black;
  margin-left: 3vw;
  background: #989898; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a2a4a5, #989898); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a2a4a5, #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a2a4a5, #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a2a4a5, #989898); /* Standard syntax */
  padding: 3px 10px 3px 10px;
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
}
a:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
.links {
  position: absolute;
  top: 3vh;
  left: 75vw;
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#gohome {
  margin-left: 7vw;
  font-size: 3vh;
}
.button {
  background: #989898; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a2a4a5, #989898); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a2a4a5, #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a2a4a5, #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a2a4a5, #989898); /* Standard syntax */
  padding: 3px 10px 3px 10px;
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
}
.button:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
#arrow {
  margin-right: 1vw;
  margin-left: .5vw;
  font-size: 40px;
  cursor: pointer;
}
#arrow:hover {
  color: grey !important;
}
.alert {
  position: absolute;
  top: 8vh;
  left: 22vw;
  width: 25vw;
  display: none;
    padding: 10px;
    background-color: #87cefa;
    color: white;
    margin-left: 60px;
}
#arrow2 {
  display: none;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 4vh;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
  color: lightgrey;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#getaway {
  margin-right: .5vw;
}
