body {
  background: url("tile.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.searchResults {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.meme, .gif {
  margin: auto;
  width: 45vw;
  height: 70vh;
overflow-y: auto;
text-align: center;
background-color: grey;
}
img {
  max-width: 38vw;
  height: auto;
  margin: auto;
}
.spacer {
  height: 10vh;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h2 {
  background-color: aqua;
  padding: 4vh;
}
.buttonz {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
