* {
  margin: 0;
  padding: 0;
}
body {
  background: url("mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Abhaya Libre', serif;
}
h1 {
  text-shadow: 2px 2px 3px grey;
  color: #f9f9f9;
  font-size: 10vh;
  margin-top: 5vh;
}
h2 {
  text-shadow: 2px 2px 3px grey;
  color: #f9f9f9;
  font-size: 4vh;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
nav {
  height: 40vh;
  width: 40vw;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 10px #545454;
  -webkit-box-reflect: below 1vh -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
  border-radius: 3px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left, .right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left {
  /*padding-left: 6vw;*/
  border-right: 1px solid grey;
  height: 30vh;
  margin-bottom: 5vh;
}
.right {
  margin-bottom: 4vh;
}
.login{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  margin-bottom: 20px;
  font-size: 2.2vh;
  border-bottom: 1px solid black;
}
#login {
  background-color: #989898;
  padding: 3px 10px 3px 10px;
}
#facebook {
  width: 148px;
  height: 50px;
  margin-bottom: 10px;
}
#twitter {
  width: 130px;
  height: 25px;
}
#google {
  margin-top: 20px;
  width: 135px;
  height: 30px;
}
h4 {
  position: absolute;
  display: inline-block;
  top: 45vh;
  left: 49.25vw;
  font-size: 3vh;
}
.guest {
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 30px;
  background-color: #76bde7;
  top: 64vh;
  left: 45vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.signup {
  display: none;
}
.x {
  width: 20px;
  position: absolute;
  left: 67.5vw;
  top: 31vh;
}
button {
  font-size: 1.5vh;
}

