* {
  margin: 0;
  padding: 0;
}
body {
  background: url("mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Abhaya Libre', serif;
}
.dropdown, .dropout {
  position: absolute;
  left: 30.5vw;
  top: 30vh;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 1px 1px 1px #ccc;
}
.dropdown:hover, .dropout:hover {
  color: grey !important;
}
h1 {
  text-shadow: 2px 2px 3px grey;
  color: #f9f9f9;
  font-size: 10vh;
  margin-top: 5vh;
}
h2 {
  text-shadow: 2px 2px 3px grey;
  color: #f9f9f9;
  font-size: 4vh;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
nav {
  height: 40vh;
  width: 40vw;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 10px #545454;
  -webkit-box-reflect: below 1vh -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
  border-radius: 3px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left, .right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left {
  border-right: 1px solid #515151;;
  height: 30vh;
  margin-bottom: 5vh;
}
.right {
  margin-bottom: 4vh;
}
.login{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  margin-bottom: 20px;
  font-size: 2.2vh;
  border-bottom: 1px solid #636363;
  color: #636363;
}
#login {
  background: #989898; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a2a4a5, #989898); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a2a4a5, #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a2a4a5, #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a2a4a5, #989898); /* Standard syntax */
  padding: 3px 10px 3px 10px;
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
}
#login:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
#facebook {
  width: 148px;
  height: 50px;
  margin-bottom: 5px;
}
#twitter {
  width: 130px;
  height: 25px;
}
#google {
  margin-top: 15px;
  width: 135px;
  height: 30px;
}
h4 {
  position: absolute;
  display: inline-block;
  top: 45vh;
  left: 49.25vw;
  font-size: 1.6vw;
  color: #515151;
}
.guest {
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 30px;
background: #6ba8d1;
   background: -webkit-gradient(linear, left top, left bottom, from(#a4d3f2), to(#6ba8d1));
   background: -webkit-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -moz-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -ms-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -o-linear-gradient(top, #a4d3f2, #6ba8d1);
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
  top: 64vh;
  left: 45vw;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guest:hover {
 background: #609cc4;
   background: -webkit-gradient(linear, left top, left bottom, from(#6eb6e6), to(#609cc4));
   background: -webkit-linear-gradient(top, #6eb6e6, #609cc4);
   background: -moz-linear-gradient(top, #6eb6e6, #609cc4);
   background: -ms-linear-gradient(top, #6eb6e6, #609cc4);
   background: -o-linear-gradient(top, #6eb6e6, #609cc4);
}
a {
  text-decoration: none;
  color: black;
}
.xc {
  padding: 3px 30px 3px 0px;
}
.signup {
  display: none;
}
.x {
  position: absolute;
  left: 67.5vw;
  top: 31vh;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 1px 1px 1px #ccc;
}
.x:hover, .x:hover {
  color: grey !important;
}
button {
  font-size: 1.5vh;
}
h3 {
  font-size: 8vh;
  margin-bottom: 1vh;
  color: #515151;
  text-shadow: 1.3px 1.3px 3px grey;
}
.require {
  position: absolute;
  display: inline-block;
  top: 66vh;
  left: 60vw;
  font-size: 1vw;
  color: #515151;
}
.sign {
  margin-bottom: 4vh;
}
.xp {
  padding: 5px 50px 5px 0px;
  margin: 4px;
  text-align: left;
}
#xp {
  position: absolute;
  display: inline-block;
  top: 66vh;
  left: 47.5vw;
  background: #989898; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a2a4a5, #989898); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a2a4a5, #989898); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a2a4a5, #989898); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a2a4a5, #989898); /* Standard syntax */
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
}
#xp:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
.guestLogin {
  display: none;
}
.xyz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
  text-align: center;
}
h5 {
  font-size: 1.5vw;
  margin-bottom: 2vh;
  color: #515151;
}
#guest {
  display: inline-block;
  width: 140px;
  height: 30px;
background: #6ba8d1;
   background: -webkit-gradient(linear, left top, left bottom, from(#a4d3f2), to(#6ba8d1));
   background: -webkit-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -moz-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -ms-linear-gradient(top, #a4d3f2, #6ba8d1);
   background: -o-linear-gradient(top, #a4d3f2, #6ba8d1);
  box-shadow: 2px 2px 3px #545454;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
#guest:hover {
 background: #609cc4;
   background: -webkit-gradient(linear, left top, left bottom, from(#6eb6e6), to(#609cc4));
   background: -webkit-linear-gradient(top, #6eb6e6, #609cc4);
   background: -moz-linear-gradient(top, #6eb6e6, #609cc4);
   background: -ms-linear-gradient(top, #6eb6e6, #609cc4);
   background: -o-linear-gradient(top, #6eb6e6, #609cc4);
}
