* {
  margin: 0;
  padding: 0;
}
body {
  background: url("tile.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Abhaya Libre', serif;
  text-align: center;
  text-shadow: 1px 1px 1px #333333;
}
#first {
  background: url("mountain.jpg");
  background-size: cover;
    background-repeat: no-repeat;
  -webkit-animation-duration: .8s;
  -webkit-animation-delay: .5s;
  height: 100vh;
}
.real {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 12vh;
  margin-bottom: 5vh;
}
h2 {
  font-size: 6vh;
  max-width: 70vw;
  margin-bottom: 10vh;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25vh;
}
input {
 font-size: 4vh;
 margin: 10px;
}
p {
  font-size: 1.5vw;
}
select {
  font-size: 4vh;
  cursor: pointer;
}
#arrow {
  margin-top: 2.5vh;
  margin-right: 1vw;
  margin-left: .5vw;
  font-size: 40px;
  cursor: pointer;
}
#arrow:hover {
  color: grey !important;
}
.alert {
  display: none;
    padding: 10px;
    background-color: #87cefa;
    color: white;
    margin-left: 60px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 4vh;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
  color: lightgrey;
}
#go {
  -webkit-appearance: none;
    width: 70px;
    background-color:#FFF;
    color:black;
    border: solid #666 1px;
    font-size: 4vh;
    margin-left: 15px;
}
.bottom {
  position: absolute;
  top: 90vh;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  font-size: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottomP {
  position: absolute;
  top: 90vh;
  left: 0;
  width: 100vw;
  margin: 0 auto;
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#go {
  font-family: 'Abhaya Libre', serif;
}
a, #logout, #go {
  color: black;
  text-decoration: none;
    background: #cfcbcf;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#cfcbcf));
   background: -webkit-linear-gradient(top, #9e9ea3, #cfcbcf);
   background: -moz-linear-gradient(top, #9e9ea3, #cfcbcf);
   background: -ms-linear-gradient(top, #9e9ea3, #cfcbcf);
   background: -o-linear-gradient(top, #9e9ea3, #cfcbcf);
  box-shadow: 2px 2px 3px #545454;
  padding: 3px 10px 3px 10px;
  border-radius: 2px;
}
#logout, #go{
  font-weight: 500;
}
a:hover, #logout:hover, #go:hover {
  background: #807e80;
   background: -webkit-gradient(linear, left top, left bottom, from(#9e9ea3), to(#807e80));
   background: -webkit-linear-gradient(top, #9e9ea3, #807e80);
   background: -moz-linear-gradient(top, #9e9ea3, #807e80);
   background: -ms-linear-gradient(top, #9e9ea3, #807e80);
   background: -o-linear-gradient(top, #9e9ea3, #807e80);
}
.spacing {
  margin: 0 5vw 0 5vw;
  padding: 4px;
}
#logout {
  border:none;
  font-family: 'Abhaya Libre', serif;
  text-shadow: 1px 1px 2px #333333;
  padding: 3px;
  font-size: 4vh;
}
