<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <div class="animated bounceOut" id="first"></div>
    <div class="real">
      <div class="main">
        <h1>Welcome Guest!</h1>
        <h2>Search for Memes and Gifs by Entering Keyword into Search Bar</h2>
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Number of Results Per Page</strong>
        </div>
        <form action="/Guestsearch" method="POST">
          <input type="text" name="search" placeholder="Search By Keyword" required>
          <select name="number">
            <option value="5">5</option>
            <option selected="selected" value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          <img id="arrow" src="arrow.png">
          <input id="go" type="submit" value="Go">
        </form>
        <div class="bottom">
          <a href="/">Return to Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
