<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Welcome! <%= user.username %></h1>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
    <a href="/">INDEX</a>
    <a href="/library">LIBRARY</a>
    <form action="/search" method="POST">
      <input type="text" name="search" placeholder="Search By Keyword" required>
      <select name="number">
        <option value="5">5</option>
        <option selected="selected" value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
      <input type="submit" value="Go">
    </form>
  </body>
</html>
