<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Procrastinator</title>
    <link rel="stylesheet" href="/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css">
  </head>
  <body>
    <div class="animated bounceOut" id="first"></div>
    <div class="real">
      <div class="dropdown"><i class="fa fa-bars" aria-hidden="true"></i></div>
      <div class="dropout"><i class="fa fa-bars" aria-hidden="true"></i></div>
      <div class="update">
        <p>Enter Your Name To Update Username</p>
        <form class="edit" action="/users/edit?_method=PUT" method="POST">
          <input id="upname" type='text' name='username' value='' placeholder='username'>
          <input type='hidden' name='id' value='<%= id %>'>
          <input id="update" type="submit" value="update">
        </form>
      </div>
      <div class="main">
        <h1>Welcome <%= user.username %>!</h1>
        <h2>Search for Memes and Gifs by Entering Keyword into Search Bar</h2>
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>Number of Results Per Page</strong>
        </div>
        <form action="/search" method="POST">
          <input type="text" name="search" placeholder="Search By Keyword" required>
          <select name="number">
            <option value="5">5</option>
            <option selected="selected" value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
          </select>
          <i class="fa fa-sort-asc" id="arrow" aria-hidden="true"></i>
          <input id="go" type="submit" value="Go">
        </form>
        <div class="bottomP">
          <a class="spacing" id="none" href="/library">LIBRARY</a>
          <form class="spacing" action="/auth?_method=DELETE" method="post">
            <input id="logout" type="submit" value="LOGOUT">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
